<!Doctype html>
<html>
  <head>
  <title>My ToDo List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
  @using ToDoList.Models;
<div class="jumbotron">
  <h1>Categories</h1>
</div>

  @if(Model.Count == 0)
  {
    <h3>No categories have been added yet!</h3>
  }
  @foreach (Category category in Model)
  {
    <h3><a href='/categories/@category.Id'>@category.Name</a></h3>
  }

  <p><a href='/'>Back Home</a></p>
  </body>
</html>
